<% layout('layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://images.pexels.com/photos/3728295/pexels-photo-3728295.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title mb-3">註冊會員</h5>
                    <form action="/register" method="POST" novalidate class="needs-validation">
                        <div class="mb-3">
                            <label class="form-label" for="username">帳號</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">信箱</label>
                            <input class="form-control" type="email" id="email" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">密碼</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-success">送出</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>